In [1]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.preprocessing import FunctionTransformer
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.semi_supervised import SelfTrainingClassifier
from sklearn.semi_supervised import LabelSpreading
import demoji
import joblib
from sklearn.semi_supervised import SelfTrainingClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import re, string
import emoji
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_score, recall_score, f1_score
from sklearn.semi_supervised import SelfTrainingClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
data = pd.read_csv('Airline-Sentiment-2-w-AA.csv', encoding='ISO-8859-1')
data.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,681448150,False,finalized,3,2/25/15 5:24,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2/24/15 11:35,5.703060e+17,NaN,Eastern Time (US & Canada)
1,681448153,False,finalized,3,2/25/15 1:53,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
2,681448156,False,finalized,3,2/25/15 10:01,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2/24/15 11:15,5.703010e+17,Lets Play,Central Time (US & Canada)
3,681448158,False,finalized,3,2/25/15 3:05,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
4,681448159,False,finalized,3,2/25/15 5:50,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2/24/15 11:14,5.703010e+17,NaN,Pacific Time (US & Canada)

In [3]:
data.airline_sentiment.unique()

array(['neutral', 'positive', 'negative'], dtype=object)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _unit_id                      14640 non-null  int64
 1   _golden                       14640 non-null  bool
 2   _unit_state                   14640 non-null  object
 3   _trusted_judgments            14640 non-null  int64
 4   _last_judgment_at             14584 non-null  object
 5   airline_sentiment             14640 non-null  object
 6   airline_sentiment:confidence  14640 non-null  float64
 7   negativereason                9178 non-null   object
 8   negativereason:confidence     10522 non-null  float64
 9   airline                       14640 non-null  object
 10  airline_sentiment_gold        40 non-null     object
 11  name                          14640 non-null  object
 12  negativereason_gold           32 non-null     object
 13  retweet_count                 14640 non-null  int64
 14  text                          14640 non-null  object
 15  tweet_coord                   1019 non-null   object
 16  tweet_created                 14640 non-null  object
 17  tweet_id                      14640 non-null  float64
 18  tweet_location                9907 non-null   object
 19  user_timezone                 9820 non-null   object
dtypes: bool(1), float64(3), int64(3), object(13)
memory usage: 2.1+ MB

In [5]:
df = data[['text','airline_sentiment']]
df.head()

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [6]:
df.isnull().sum()

text                 0
airline_sentiment    0
dtype: int64

In [7]:
# Clean  text
def clean_text_from_emojis(text):
    return demoji.replace(text, '')

In [8]:
#Remove punctuations, links, mentions and \r\n new line characters
def strip_all_entities(text):
    text = text.replace('\r', '').replace('\n', ' ').replace('\n', ' ').lower() #remove \n and \r and lowercase
    text = re.sub(r"(?:\@|https?\://)\S+", "", text) #remove links and mentions
    text = re.sub(r'[^\x00-\x7f]',r'', text) #remove non utf8/ascii characters such as '\x9a\x91\x97\x9a\x97'
    banned_list= string.punctuation + 'Ã'+'±'+'ã'+'¼'+'â'+'»'+'§'
    table = str.maketrans('', '', banned_list)
    text = text.translate(table)
    return text

In [9]:
# Clean hastags '#' Symbol
def clean_hashtags(tweet):
    new_tweet = " ".join(word.strip() for word in re.split('#(?!(?:hashtag)\b)[\w-]+(?=(?:\s+#[\w-]+)*\s*$)', tweet)) #remove last hashtags
    new_tweet2 = " ".join(word.strip() for word in re.split('#|_', new_tweet)) #remove hashtags symbol from words in the middle of the sentence
    return new_tweet2

In [10]:
# Remove multiple spaces
def remove_mult_spaces(text):
    return re.sub("\s\s+" , " ", text)

In [11]:
#dataset1:df
dataset1_texts_new = []
for t in df.text:
    dataset1_texts_new.append(remove_mult_spaces(clean_hashtags(strip_all_entities(clean_text_from_emojis(t)))))

In [12]:
df['cleaned_text'] = dataset1_texts_new

# Rearrange column order for df
df1 = df.reindex(columns=['text', 'cleaned_text', 'airline_sentiment'])

# Rename 'airline_sentiment' to 'sentiment' in df1
df1 = df1.rename(columns={'airline_sentiment': 'sentiment'})

df1.head()

C:\Users\ST\AppData\Local\Temp\ipykernel_4628\1944272238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_text'] = dataset1_texts_new

,text,cleaned_text,sentiment
0,@VirginAmerica What @dhepburn said.,what said,neutral
1,@VirginAmerica plus you've added commercials t...,plus youve added commercials to the experience...,positive
2,@VirginAmerica I didn't today... Must mean I n...,i didnt today must mean i need to take another...,neutral
3,@VirginAmerica it's really aggressive to blast...,its really aggressive to blast obnoxious enter...,negative
4,@VirginAmerica and it's a really big bad thing...,and its a really big bad thing about it,negative

In [13]:
# Randomly select a portion of the data to turn into unlabeled
percentage_to_turn_unlabeled = 0.4  # Adjust as needed
num_samples_to_turn_unlabeled = int(len(df1) * percentage_to_turn_unlabeled)
samples_to_turn_unlabeled = df1.sample(num_samples_to_turn_unlabeled)

In [14]:
# Set the 'label' column for the selected samples to NaN
df1.loc[samples_to_turn_unlabeled.index, 'sentiment'] = None  
# or df.loc[samples_to_turn_unlabeled.index, 'label'] = np.nan
df1= df1[['cleaned_text','sentiment']]
df1.head()

                                        cleaned_text sentiment
0                                          what said   neutral
1  plus youve added commercials to the experience...  positive
2  i didnt today must mean i need to take another...   neutral
3  its really aggressive to blast obnoxious enter...      None
4            and its a really big bad thing about it  negative

In [15]:
# Instantiate the vectorizer
vectorizer = TfidfVectorizer()

In [16]:
import pandas as pd
import pickle
# Assuming 'preprocessed_data' is your preprocessed DataFrame
# Replace this with your actual DataFrame variable

# Save DataFrame to CSV
df1.to_csv('df4.csv', index=False)
with open('df4.pkl', 'wb') as f:
    pickle.dump(df, f)

# Save DataFrame to JSON
df1.to_json('df4.json', orient='records')